#pragma code_page(65001) // UTF-8

IDI_ICON1 ICON "icons\qbittorrent.ico"
IDI_ICON2 ICON "icons\qbittorrent_file.ico"

#include <windows.h>
#include "base/version.h"

#define VER_FILEVERSION             QBTACCESS_VERSION_MAJOR,QBTACCESS_VERSION_MINOR,0,0
#define VER_FILEVERSION_STR         QBTACCESS_VERSION

#define VER_PRODUCTVERSION          QBTACCESS_VERSION_MAJOR,QBTACCESS_VERSION_MINOR,0,0
#define VER_PRODUCTVERSION_STR      QBTACCESS_VERSION

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

1 VERSIONINFO
FILEVERSION    	VER_FILEVERSION
PRODUCTVERSION 	VER_PRODUCTVERSION
FILEFLAGSMASK  	VER_DEBUG
FILEFLAGS      	VER_DEBUG
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_APP
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "ReaperAccessible"
            VALUE "FileDescription",  "qBittorrentAccess - An accessible BitTorrent client based on qBittorrent"
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     "qBittorrentAccess"
            VALUE "LegalCopyright",   "Copyright ©2006-2026 The qBittorrent Project"
            VALUE "OriginalFilename", "qBittorrentAccess.exe"
            VALUE "ProductName",      "qBittorrentAccess"
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
